container_commands:
    01_remove_old_java:
        command: |
            yum remove -y java-*-openjdk
    02_install_java_17:
        command: |
            yum install -y java-17-openjdk
    03_kill_existing_java:
        command: |
            pkill -f 'java'

files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killalljava
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH
