packages:
  yum:
    wget: []
    unzip: []

commands:
  01-get-chrome:
    command: |
      wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
      sudo yum localinstall -y google-chrome-stable_current_x86_64.rpm

  02-get-chromedriver:
    command: |
      CHROME_DRIVER_VERSION=$(google-chrome --version | grep -oP '\d+\.\d+\.\d+\.\d+')
      wget https://storage.googleapis.com/chrome-for-testing-public/${CHROME_DRIVER_VERSION}/linux64/chromedriver-linux64.zip
      unzip chromedriver-linux64.zip
      sudo mv chromedriver /usr/local/bin/
      sudo chmod +x /usr/local/bin/chromedriver
