packages:
  yum:
    wget: []
    unzip: []

commands:
  01-get-chromedriver:
    command: |
          CHROME_DRIVER_VERSION=$(curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
          wget https://chromedriver.storage.googleapis.com/${CHROME_DRIVER_VERSION}/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

  02-get-chrome:
      command: |
          # Find the corresponding Chrome version for the ChromeDriver
          CHROME_DRIVER_VERSION=$(curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
          CHROME_VERSION=$(curl -sS https://chromedriver.storage.googleapis.com/${CHROME_DRIVER_VERSION}/notes.txt | grep -oP '(?<=Chrome Version: )\d+\.\d+\.\d+\.\d+')
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
          sudo yum localinstall -y google-chrome-stable_current_x86_64.rpm
          sudo yum install -y google-chrome-stable
